* {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbfcfd;
}

/* Navbar */
.navbar {
  display: flex;
  color: #040000;
  height: 40px;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 10px;
  position: fixed;
}
.navbarlist {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  list-style: none;
  height: 100%;
  font-size: 16px;
  justify-content: end;
  margin-right: 56px;
}
.navbar-item {
  padding: 48px;
}
.navbar-link {
  text-decoration: none;
  color: #00001A;
  margin-left: 47px;
  font-size: 24px;
}
.navbar-item-link {
  text-decoration: none;
  color: #000000;
}
.navbar-item-link:hover {
  color: rgb(81, 69, 242);
}
.singin-link {
  color: aliceblue;
  background-color: #000000;
  padding: 18px;
  border-radius: 10px;
}

/* Header */
.header {
  margin-top: 100px;
  display: flex;
  margin-bottom: 150px;
}
.container {
  max-width: 1440px;
  margin-left: 80px;
}
.header-title {
  font-size: 64px;
  margin-bottom: 15px;
}
.header-text {
  max-width: 600px;
  line-height: 150%;
}
.headerimg {
  position: absolute;
  right: 120px;
  margin-left: 20px;
  height: 600px;
  object-fit: cover;
  z-index: -1;
}
.header-title2 {
  margin-bottom: 30px;
  font-size: 20px;
  opacity: .3;
}

/* Section Benefits */
.section-Benefits {
  display: flex;
}
.benefitsimg {
  margin-left: 80px;
  z-index: -1;
  height: 550px;
  border-radius: 10px;
}
.benefits-title {
  font-size: 64px;
  margin-bottom: 15px;
}
.benefits-item-text {
  max-width: 600px;
  line-height: 150%;
}

/* Button */
.button1 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.start-button {
  height: 219px;
  width: 792px;
  background-color: #00001A;
  border-radius: 10px;
}
.start-link {
  font-size: 64px;
  text-decoration: none;
  color: aliceblue;
}
.start-link:hover {
  color: rgb(81, 69, 242);
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  background-color: #00001A;
  color: #fff;
  padding: 20px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo_footer {
  margin-left: 0px;
}
.contact-info p {
  margin: 5px 0;
}

/* Container Sign */
.container_sign {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.container .registration {
  display: none;
}
#check:checked ~ .registration {
  display: block;
}
#check:checked ~ .login {
  display: none;
}
#check {
  display: none;
}
.container_sign .form {
  padding: 2rem;
}
.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color: #253450;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form input.button {
  color: #fff;
  background: #253450;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover {
  background: #253450;
}
.signup {
  font-size: 17px;
  text-align: center;
}
.signup label {
  color: #253450;
  cursor: pointer;
}
.signup label:hover {
  text-decoration: underline;
}
.sign_img {
  height: 724px;
}
.wrapper_sign {
  display: flex;
}
.sign-link {
  text-decoration: none;
  color: #00001A;
  margin-top: 10px;
  margin-left: 1065px;
  font-size: 20px;
}

/* Personal Area */
.personal_area {
  font-family: Arial, sans-serif;
  background-color: #526d88;
}
.personalarea_container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #1D2735;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.profile-header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}
.profile-header h1, .profile-header p {
  color: #B0C5EE;
}

/* Tabs */
.area_tabs {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.area_tabs button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}
.area_tabs button:hover {
  background-color: #e0e0e0;
}
.area_tabs button.active {
  border-bottom: 2px solid #000;
}

/* Tab Content */
.area-tab-content {
  display: none;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.area-tab-content.active {
  display: block;
}

/* Forms */
form {
  margin-bottom: 20px;
}
label {
  display: block;
  margin: 10px 0 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn {
  display: inline-block;
  background-color: #023872;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #0c233c;
}
.logout-btn {
  background-color: #0c233c;
}
.logout-btn:hover {
  background-color: #0c233c;
}
.download-btn {
  background-color: #526d88;
}
.download-btn:hover {
  background-color: #526d88;
}
.profile-update-form input[type="file"] {
  display: none;
}
.choose-file-btn {
  background-color: #6c757d;
}
.choose-file-btn:hover {
  background-color: #5a6268;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .tab-link {
    padding: 10px;
  }
  #profile-picture {
    width: 80px;
    height: 80px;
  }
}

.mess_pass{
  margin-top: 20px;
}